<div id="page-wrapper">

  <!-- Page Header -->
  <div class="row">
    <div class="col-lg-12">
      <h1>Dashboard</h1>
      <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
      </ol>
      <!-- alerts here -->
    </div><!-- /.col -->
  </div><!-- /.row -->

  <!-- Summary -->
  <div class="row">
    <!-- Your Open Issues -->
    <div class="col-lg-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <i class="fa fa-tasks fa-5x"></i>
            </div>
            <div class="col-xs-6 text-right">
              <p class="announcement-heading">5</p>
              <p class="announcement-text">Your Open Issues</p>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="panel-footer announcement-bottom">
            <div class="row">
              <div class="col-xs-8">
                View Your Open Issues
              </div>
              <div class="col-xs-4 text-right">
                <i class="fa fa-arrow-circle-right"></i>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div><!-- /.col -->
    <!-- Alerts -->
    <div class="col-lg-4">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <i class="fa fa-bell fa-5x"></i>
            </div>
            <div class="col-xs-6 text-right">
              <p class="announcement-heading">3</p>
              <p class="announcement-text">Alerts</p>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="panel-footer announcement-bottom">
            <div class="row">
              <div class="col-xs-6">
                View Alerts
              </div>
              <div class="col-xs-6 text-right">
                <i class="fa fa-arrow-circle-right"></i>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div><!-- /.col -->
    <!-- Messages -->
    <div class="col-lg-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <i class="fa fa-envelope fa-5x"></i>
            </div>
            <div class="col-xs-6 text-right">
              <p class="announcement-heading">3</p>
              <p class="announcement-text">Messages</p>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="panel-footer announcement-bottom">
            <div class="row">
              <div class="col-xs-6">
                View Messages
              </div>
              <div class="col-xs-6 text-right">
                <i class="fa fa-arrow-circle-right"></i>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div><!-- /.col -->
  </div><!-- /.row -->

  <!-- Your Issues / Message Feeds -->
  <div class="row">
    <div class="col-lg-8">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-tasks"></i> Your Open Issues</h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped tablesorter">
              <thead>
                <tr>
                  <th>Company name <i class="fa fa-sort"></i></th>
                  <th>Summary <i class="fa fa-sort"></i></th>
                  <th>Received date <i class="fa fa-sort"></i></th>
                  <th>Due date <i class="fa fa-sort"></i></th>
                  <th>Status <i class="fa fa-sort"></i></th>
                  <th>Issue type <i class="fa fa-sort"></i></th>
                </tr>
              </thead>
              <tbody>
                <% @issues.each do |issue| %>
                <tr>
                  <td><%= Company.find(issue.company_name).name %></td>
                  <td><%= link_to issue.summary, issue %></td>
                  <td><%= issue.received_date.strftime("%Y-%m-%d") %></td>
                  <td><%= issue.due_date %></td>
                  <td><%= Code.find_by(:codetype => 2, :codekey => issue.status).codevalue %></td>
                  <td><%= Code.find_by(:codetype => 3, :codekey => issue.issue_type).codevalue %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="text-right">
            <a href="#">View All Issues <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
    </div><!-- /.col -->
    <div class="col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-comments"></i> Message Feeds</h3>
        </div>
        <div class="panel-body">
          <div class="media">
            <a class="pull-left" href="#">
              <i class="fa fa-user fa-3x"></i>
            </a>
            <div class="media-body">
              <h5 class="media-heading">User 1 <small>@user1</small></h5>
              hogehoge hogehoge hogehoge hogehoge hogehoge
            </div>
          </div>
          <div class="media">
            <a class="pull-left" href="#">
              <i class="fa fa-user fa-3x"></i>
            </a>
            <div class="media-body">
              <h5 class="media-heading">User 1 <small>@user1</small></h5>
              hogehoge hogehoge hogehoge hogehoge hogehoge
            </div>
          </div>
          <div class="media">
            <a class="pull-left" href="#">
              <i class="fa fa-user fa-3x"></i>
            </a>
            <div class="media-body">
              <h5 class="media-heading">User 1 <small>@user1</small></h5>
              hogehoge hogehoge hogehoge hogehoge hogehoge
            </div>
          </div>
          <div class="media">
            <a class="pull-left" href="#">
              <i class="fa fa-user fa-3x"></i>
            </a>
            <div class="media-body">
              <h5 class="media-heading">User 1 <small>@user1</small></h5>
              hogehoge hogehoge hogehoge hogehoge hogehoge
            </div>
          </div>
          <div class="media">
            <a class="pull-left" href="#">
              <i class="fa fa-user fa-3x"></i>
            </a>
            <div class="media-body">
              <h5 class="media-heading">User 1 <small>@user1</small></h5>
              hogehoge hogehoge hogehoge hogehoge hogehoge
            </div>
          </div>
          <div class="media">
            <a class="pull-left" href="#">
              <i class="fa fa-user fa-3x"></i>
            </a>
            <div class="media-body">
              <h5 class="media-heading">User 1 <small>@user1</small></h5>
              hogehoge hogehoge hogehoge hogehoge hogehoge
            </div>
          </div>
          <div class="media">
            <a class="pull-left" href="#">
              <i class="fa fa-user fa-3x"></i>
            </a>
            <div class="media-body">
              <h5 class="media-heading">User 1 <small>@user1</small></h5>
              hogehoge hogehoge hogehoge hogehoge hogehoge
            </div>
          </div>
          <div class="media">
            <a class="pull-left" href="#">
              <i class="fa fa-user fa-3x"></i>
            </a>
            <div class="media-body">
              <h5 class="media-heading">User 1 <small>@user1</small></h5>
              hogehoge hogehoge hogehoge hogehoge hogehoge
            </div>
          </div>
          <div class="text-right">
            <a href="#">View All Feeds <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
    </div><!-- /.col -->
  </div><!-- /.row -->
  
</div><!-- /#page-wrapper -->