<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1>Issue List</h1>
      <ol class="breadcrumb">
        <li class="active"><i class="fa fa-tasks"></i> Issues</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <a href='<%= new_issue_path %>'>
        <button class="btn btn-default"><i class="fa fa-plus-circle"></i> Create New Issue</button>
      </a>
    </div><!-- /.col -->
    <div class="col-lg-6">
      <div class="text-right">
        <%= form_tag issues_path, class: 'form-inline', :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search], class: 'form-control' %>
          <%= submit_tag "Search from Summary" , class: 'btn btn-default'%>
        </p>
        <% end %>
      </div>
    </div><!-- /.col -->
  </div><!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-tasks"></i> Issues</h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table  table-hover table-striped tablesorter">
              <thead>
                <tr>
                  <th>Company name <i class="fa fa-sort"></i></th>
                  <th>Summary <i class="fa fa-sort"></i></th>
                  <th>Received date <i class="fa fa-sort"></i></th>
                  <th>Due date <i class="fa fa-sort"></i></th>
                  <th>Status <i class="fa fa-sort"></i></th>
                  <th>Issue type <i class="fa fa-sort"></i></th>
                  <th>Assigned to <i class="fa fa-sort"></i></th>
                </tr>
              </thead>
              <tbody>
                <% @issues.each do |issue| %>
                <tr>
                  <td><%= Company.find(issue.company_name).name %></td>
                  <td><%= link_to issue.summary, issue %></td>
                  <td><%= issue.received_date.strftime("%Y-%m-%d") %></td>
                  <td><%= issue.due_date %></td>
                  <td><%= Code.find_by(:codetype => 2, :codekey => issue.status).codevalue %></td>
                  <td><%= Code.find_by(:codetype => 3, :codekey => issue.issue_type).codevalue %></td>
                  <td><%= User.find(issue.assigned_to).name %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div>