<div class="col-lg-12">
  <h1>Issue List</h1>
  <ol class="breadcrumb">
    <li class="active"> Issues</li>
  </ol>
</div>
<div class="col-lg-6">
  <a href='<%= new_issue_path %>'>
    <button class="btn btn-default"><i class="fa fa-plus-circle"></i> Create New Issue</button>
  </a>
</div>
<div class="col-lg-6">
  <div class="text-right">
    <%= form_tag issues_path, class: 'form-inline', :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search], class: 'form-control' %>
      <%= submit_tag "Search from Summary" , class: 'btn btn-default'%>
    </p>
    <% end %>
  </div>
</div>
<div class="col-lg-12">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"> Issues</h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table  table-hover table-striped tablesorter">
          <thead>
            <tr>
              <th>Issue # </th>
              <th>Summary </th>
              <th>Company name </th>
              <th>Received date </th>
              <th>Due date </th>
              <th>Status </th>
              <th>Issue type </th>
              <th>Assigned to </th>
            </tr>
          </thead>
          <tbody>
            <% @issues.each do |issue| %>
            <tr>
              <td><%= link_to issue.id, issue %></td>
              <td><%= link_to truncate(issue.summary, length: 20), issue %></td>
              <td><%= issue.company.name %></td>
              <td><%= issue.received_date.strftime("%d %B %Y") %></td>
              <td><%= issue.due_date.strftime("%d %B %Y") %></td>
              <td><%= Code.find_by(:codetype => 2, :codekey => issue.status).codevalue %></td>
              <td><%= Code.find_by(:codetype => 3, :codekey => issue.issue_type).codevalue %></td>
              <td><%= issue.user.name %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>