<div id="content">
  <h1>Issue List</h1>

  <%= form_tag issues_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  </p>
<% end %>

  <table class="list">
    <thead>
      <tr>
        <th>Company name</th>
        <th>Summary</th>
        <th>Received date</th>
        <th>Due date</th>
        <th>Status</th>
        <th>Issue type</th>
        <th>Assigned to</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @issues.each do |issue| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= Company.find(issue.company_name).name %></td>
        <td><%= link_to issue.summary, issue %></td>
        <td><%= issue.received_date.strftime("%Y-%m-%d") %></td>
        <td><%= issue.due_date %></td>
        <td><%= Code.find_by(:codetype => 2, :codekey => issue.status).codevalue %></td>
        <td><%= Code.find_by(:codetype => 3, :codekey => issue.issue_type).codevalue %></td>
        <td><%= User.find(issue.assigned_to).name %></td>
        <td><%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Issue', new_issue_path %>
  
</div>