<div id="content">

  <% if notice %>
  <p id="notice"><%= notice %></p>
  <% end %>

  <p>
    <strong>Company name:</strong>
    <%= Company.find(@issue.company_name).name %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= @issue.summary %>
  </p>

  <p>
    <strong>Received date:</strong>
    <%= @issue.received_date.strftime("%Y-%m-%d %H:%M") %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= @issue.due_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= Code.find_by(:codetype => 2, :codekey => @issue.status).codevalue %>
  </p>

  <p>
    <strong>Issue type:</strong>
    <%= Code.find_by(:codetype => 3, :codekey => @issue.issue_type).codevalue %>
  </p>

  <p>
    <strong>Assigned to:</strong>
    <%= User.find(@issue.assigned_to).name %>
  </p>
  <%= link_to 'Edit', edit_issue_path(@issue) %> |
  <%= link_to 'Back', issues_path %>
  <br>
  <br>

<%
###### Activity List Area #####################################################################
%>

  <div>
    <h3>Activity List</h3>
    <p align="right">
      <%= link_to 'Add Activity', new_activity_path(issue_id: @issue.id) %>
    </p>

    <table class="list">
      <thead>
        <tr>
          <th>Activity ID</th>
          <th>Date/Time</th>
          <th>Activity Type</th>
          <th>Activity Note</th>
          <th>Hours</th>
          <th>Minutes</th>
          <th>Entered By</th>
          <th></th>
        </thead>
        <tbody>
          <% @issue.activities.each do |activity| %>
          <tr class="<%= cycle('odd', 'even') %>">
            <td><%= link_to activity.activity_id, activity %></td>
            <td><%= activity.date_time.strftime("%Y-%m-%d %H:%M") %></td>
            <td><%= Code.find_by(:codetype => 1, :codekey => activity.activity_type).codevalue %></td>
            <td><%= activity.activity_note %></td>
            <td><%= activity.hours %></td>
            <td><%= activity.minutes %></td>
            <td><%= User.find(activity.entered_by).name %></td>
            <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <br>
    <br>
    <br>
  </div>

</div>