<h3>Customer list</h3>

<table class="list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Name</th>
      <th>Direct number</th>
      <th>Email</th>
      <th>Company id</td>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <tr class="<%= cycle('odd', 'even') %>" >
        <td><%= customer.title %></td>
        <td><%= customer.name %></td>
        <td><%= customer.direct_number %></td>
        <td><%= customer.email %></td>
        <td><%= customer.company.name %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>
</table>