<div id="content">
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<p>
  <strong>Company Name:</strong>
  <%= Company.find(@customer.company_id).name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @customer.title %>
</p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Direct number:</strong>
  <%= @customer.direct_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Main Contact:</strong>
  <%= @customer.main_contact %>
</p>

<p>
  <strong>Location:</strong>
  <%= Location.find(@customer.location_id).name %>
</p>

</div>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', company_path(@customer.company_id) %>
