<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @customer.title %>
</p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Direct number:</strong>
  <%= @customer.direct_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
