<div class="row">
  <div class="modal" id="companyModal" tabindex="-1" role="dialog" aria-labelledby="companyModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="companyModal">New Company</h4>
      </div>
      <div class="modal-body">

        <%= form_for(@company, class: "form-horizontal", role: "form" ) do |f| %>
        <% if @company.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>
          <ul>
            <% @company.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
        <% end %>

        <div class="form-group">
          <%= f.label :name, class: 'col-sm-3 control-label' %>
          <div class="col-sm-9">
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :telephone, class: 'col-sm-3 control-label' %>
          <div class="col-sm-9">
            <%= f.text_field :telephone, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :Fax_number, class: 'col-sm-3 control-label' %>
          <div class="col-sm-9">
            <%= f.text_field :fax, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <%= f.check_box :is_deleted %>
            <%= f.label :Deleted %>           
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <%= f.submit class: "btn btn-primary" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>