<%= form_for(@company, class: "form-horizontal", role: "form" ) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :telephone, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :telephone, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :fax_number, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :fax, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :deleted, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.check_box :is_deleted, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
