<div class="modal-body">

  <%= form_for(@company, class: "form-horizontal", role: "form", remote: true ) do |f| %>

  <div class="form-group">
    <%= f.label :name, class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :telephone, class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.text_field :telephone, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :Fax_number, class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.text_field :fax, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.check_box :is_deleted %>
      <%= f.label :Deleted %>           
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <%= f.submit class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>