<div id="content">
<h1>Company List</h1>

<table class="list">
  <thead>
    <tr>
      <th>Name</th>
      <th>location</th>
      <th>main phone</th>
      <th>fax number</th>
      <th>Deleted</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= company.name %></td>
        <td><%= company.location_id %></td>
        <td><%= company.main_phone %></td>
        <td><%= company.fax %></td>
        <td><%= company.deleted %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
<%= link_to 'New Company', new_company_path %>
