<div id="content">
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>
  <%= @company.name %>
</h1>

<p>
  <strong>Location:</strong>
  <%= @company.location_id %>
</p>

<p>
  <strong>Main Phone:</strong>
  <%= @company.main_phone %>
</p>

<p>
  <strong>Fax number:</strong>
  <%= @company.fax %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @company.deleted %>
</p>

<div>
	<h3>Customer List</h3>

	<table class="list">
  	<thead>
    	<tr>
      	<th>Title</th>
      	<th>Name</th>
      	<th>Direct number</th>
      	<th>Email</th>
        <th>Main contact</th>
      	<th></th>
      	<th></th>
      	<th></th>
    	</tr>
  	</thead>

  	<tbody>
      <% @company.customers.each do |customer| %>
			<tr class="<%= cycle('odd', 'even') %>" >
        <td><%= customer.title %></td>
        <td><%= customer.name %></td>
        <td><%= customer.direct_number %></td>
        <td><%= customer.email %></td>
        <td><%= customer.main_contact %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
  	</tbody>
	</table>
<br>
<%= link_to 'Add Customer', new_customer_path %>
</div>

<br>
</div>
<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
