<div id="content">
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>
  <%= @company.name %>
</h1>

<div id="company_detail">
<p>
  <strong>Main Phone:</strong>
  <%= @company.telephone %>
</p>

<p>
  <strong>Fax number:</strong>
  <%= @company.fax %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @company.is_deleted %>
</p>
</div>

<div id="location">
<p>Location:</p>
<%= collection_select(:location, :id, Location.where(company_id: @company), :id, :name, selected: params) %>
</p>

<%= render @location %>

</div>

<div>
	<h3>Customer List</h3>
  <table class="list">
    <thead>
      <tr>
        <th>Title</th>
        <th>Name</th>
        <th>Direct number</th>
        <th>Email</th>
        <th>Main contact</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <%= render :partial => @company.customers %>
  
  </table>
<br />
<%= form_for([@company, Customer.new]) do |f| %>

  <%= field_set_tag 'New Customer' do %>
    <%= f.label :name %>
    <%= f.select :title, Customer::TITLE, prompt: 'title' %>
    <%= f.text_field :name %>
    <%= f.label :direct_number %>
    <%= f.text_field :direct_number %><br/>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :location_id %>
    <%= f.collection_select :location_id, Location.where(company_id: @company), :id, :name, selected: params %>
    <%= f.label :main_contact %>
    <%= f.check_box :main_contact %>
  <% end %>
  <%= f.submit 'Add new Customer' %>
<% end %>

</div>

<br>
</div>
<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>


