<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<p>
<<<<<<< HEAD
  <strong>Phone:</strong>
  <%= @company.phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @company.fax %>
=======
  <strong>Telno:</strong>
  <%= @company.telno %>
</p>

<p>
  <strong>Delflg:</strong>
  <%= @company.delflg %>
>>>>>>> remotes/team_mak/helpdesk/master
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
