<div id="content">
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>
  <%= @company.name %>
</h1>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>Telno:</strong>
  <%= @company.telno %>
</p>

<p>
  <strong>Delflg:</strong>
  <%= @company.delflg %>
</p>

<div>
	<h3>Customer List</h1>

	<table class="list">
  	<thead>
    	<tr>
      	<th>Title</th>
      	<th>Name</th>
      	<th>Direct number</th>
      	<th>Email</th>
      	<th></th>
      	<th></th>
      	<th></th>
    	</tr>
  	</thead>

  	<tbody>
			<%= render @company.customers %>
  	</tbody>
	</table>
<br>
<%= link_to 'Add Customer', new_customer_path %>
</div>

<br>
</div>
<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
