<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :issue_id %><br>
    <% if @issue %>
      <%= f.label Issue.find(@issue.id).summary %>
      <%= f.hidden_field :issue_id, :value => @issue.id %>
    <% else %>
      <%= f.number_field :issue_id %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :date_time %><br>
    <%= f.datetime_select :date_time %>
  </div>
  <div class="field">
    <%= f.label :activity_type %><br>
    <%= f.number_field :activity_type %>
  </div>
  <div class="field">
    <%= f.label :activity_note %><br>
    <%= f.text_field :activity_note %>
  </div>
  <div class="field">
    <%= f.label :hours %><br>
    <%= f.number_field :hours %>
  </div>
  <div class="field">
    <%= f.label :minutes %><br>
    <%= f.number_field :minutes %>
  </div>
  <div class="field">
    <%= f.label :entered_by %><br>
    <%= f.collection_select :entered_by, User.all, :id, :name, prompt: "Select User" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
