<div id="content">
  <h1>Listing activities</h1>

  <table class="list">
    <thead>
      <tr>
        <th>Related Issue ID</th>
        <th>Activity ID</th>
        <th>Date/Time</th>
        <th>Activity type</th>
        <th>Activity note</th>
        <th>Hours</th>
        <th>Minutes</th>
        <th>Entered by</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @activities.each do |activity| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= activity.issue_id %></td>
        <td><%= activity.activity_id %></td>
        <td><%= activity.date_time.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= Code.find_by(:codetype => 1, :codekey => activity.activity_type).codevalue %></td>
        <td><%= activity.activity_note %></td>
        <td><%= activity.hours %></td>
        <td><%= activity.minutes %></td>
        <td><%= User.find(activity.entered_by).name %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Activity', new_activity_path %>
</div>