<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<p>
  <strong>Activity ID:</strong>
  <%= @activity.activity_id %>
</p>

<p>
  <strong>Issue:</strong>
  <%= Issue.find(@activity.issue_id).summary %>
</p>

<p>
  <strong>Date time:</strong>
  <%= @activity.date_time.strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>Activity type:</strong>
  <%= Code.find_by(:codetype => 1, :codekey => @activity.activity_type).codevalue %>
</p>

<p>
  <strong>Activity note:</strong>
  <%= @activity.activity_note %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @activity.hours %>
</p>

<p>
  <strong>Minutes:</strong>
  <%= @activity.minutes %>
</p>

<p>
  <strong>Entered by:</strong>
  <%= User.find(@activity.entered_by).name %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', issue_path(@activity.issue_id) %>
