<div class="table-responsive">
  <table class="table ">
    <thead>
    </thead>
    <tbody>
      <tr>
        <td>Address 1:</td>
        <td><%= @location.address_1 %></td>
        <td>County:</td>
        <td><%= @location.county %></td>
      </tr>
      <tr>
        <td>Address 2:</td>
        <td><%= @location.address_2 %></td>
        <td>Postcode:</td>
        <td><%= @location.postcode %></td>
      </tr>
      <tr>
        <td>City:</td>
        <td><%= @location.city %></td>
        <td>Country:</td>
        <td><%= @location.country %></td>
      </tr>
    </tbody>
  </table>
</div>