<!DOCTYPE html>
<html>
<head>
  <title>Helpdesk</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
	<div id="header">
		<%= image_tag("logo.png") %>
		<%= @page_title || "SCS Helpdesk" %>
		<div id="navbar">
			<ul>
				<li><a href="http://localhost:3000/issues/">Home</a></li>
				<li><a href="http://localhost:3000/issues/new">New Issue</a></li>
				<li><a href="http://localhost:3000/companies/">Company</a></li>
				<li><a href="http://localhost:3000/maintenance/">Maintenance</a></li>
				<li><a href="http://localhost:3000/option/">Option</a></li>
				<li><a href="http://localhost:3000/about/">About</a></li>
			</ul>
		</div>
	</div>
	<div id="main">
		<%= yield %>
	</div>
</body>
</html>
