<!DOCTYPE html>
<html>
<head>
  <title>Helpdesk</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
  <div id="header">
    <%= @page_title || "SCS Helpdesk" %>
    <div id="navbar">
      <ul>
        <li><a href="http://localhost:3000/">Dashboard</a></li>
        <li><a href="http://localhost:3000/issues/new">New Issue</a></li>
        <li><a href="http://localhost:3000/issues/">All Issues</a></li>
        <li><a href="http://localhost:3000/companies/">Company</a></li>
        <li><a href="http://localhost:3000/maintenance/">Maintenance</a></li>
        <li><a href="http://localhost:3000/reporting/">Reporting</a></li>
        <li><a href="http://localhost:3000/analysis/">Analysis</a></li>
        <li>
          <% if session[:user_id] == nil %>
          <%= link_to "Login", logins_path %>
          <% else %>
          <%= link_to "Logout", logout_path, confirm: 'Are you sure?', method: :delete %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div id="main">
    <%= yield %>
  </div>
</body>
</html>